################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroRabbit/.vs/MicroRabbit/v16/Server/sqlite3
/MicroRabbit/.vs/MicroRabbit
